PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/the-fashion-app
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
CLIENT_URL=http://localhost:3000
APP_RETURN_SCHEME=fashionapp
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxx
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_APP_USERNAME=you@example.com
MAIL_APP_PASSWORD=app-password
